header {
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
  max-height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}
.container h1{
  font-size: 30px;
}

.navbar {



  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin: 0 10px;
}

.navbar li:first-child {
  margin-left: 0;
}

.navbar li:last-child {
  margin-right: 0;
}

.navbar li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  padding: 10px;
}

.search {
  display: flex;
  align-items: center;
}

.search input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  margin-right: 10px;
}

.search button {
  
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.search button i {
  font-size: 16px;
}