.tasks{
display:inline;
border: 1px white; 
width: 900px; 
height: 1700px; 
top: 110%;
background-color: lightgray;
border-radius: 70px;
justify-content: center;
padding: 70px 116px;
gap: 5px;
position: absolute;
margin-left: 70px;
    
}
.tasks h1{
    text-align: center;
    margin-bottom: 20px;
}
.tasks p
{
margin-top:10px;
text-align: center;
padding-left: 50px;
}
.task1{
    display: flex;
}
.task1 img{
    border-radius: 0 100px;
}.tasks1 h1{
    text-align: center;
    margin-bottom: 20px;
}
.tasks1 p
{
margin-top:90px;
text-align: center;
padding-left: 50px;
}
.task2{
    display: flex;
}
.task2 img{
    border-radius: 0 100px;
}.task2 h1{
    text-align: center;
    margin-bottom: 20px;
}
.tasks2 p
{
margin-top:90px;
text-align: center;
padding-left: 50px;
}
.task3{
    display: flex;
}
.task3 img{
    border-radius: 0 100px;
}.task3 h1{
    text-align: center;
    margin-bottom: 20px;
}
.tasks3 p
{
margin-top:90px;
text-align: center;
padding-left: 50px;
}.task4{
    display: flex;
}
.task4 img{
    border-radius: 0 100px;
    position: relative;
    top: 1300px;
    right: -205px;
    
    
}.task4 h1{
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    top:1350px;
}
.task4 p
{
position: relative;
top:1300px;
left: 70px;
}
.box{
    position: absolute;
    width: 250px;
    height: 150px;
    background-color: black;
        top:400%;
    transform: translateX(-300%);
    position: absolute;
display: flex;
flex-direction: column;
align-items: center;
padding-right: -30px;
gap: 15px;
width:550px;
right:-1203px;
border-radius: 40px;
}
.box h2 {
    color:white;
    padding:15px;
    font-size: larger;
    font-weight:700px ;
}
.box p{
    color:white;
}
.box button{
    color: white;
    border-radius: 60px;
    background-color:#CDA274; 
    position: relative;
}